In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv("https://info.dengue.mat.br/datasets/notificacao/20102023/weather_notification_SC_2010-01-01_2023-08-30.csv")

In [3]:
url = "/workspace/repos/cursos/ml-dengue-predict/fetchinfodenguedata/dataset/bkp/weather_notification_SC_2010-01-01_2023-08-30.csv"

df = pd.read_csv(url,index_col=[0]).reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522809 entries, 0 to 522808
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   uf              522809 non-null  object
 1   geocodigo       522809 non-null  int64
 2   nome_municipio  522809 non-null  object
 3   dt_notific      522809 non-null  object
 4   se_notif        522809 non-null  int64
 5   ano_notif       522809 non-null  int64
 6   temp_med        522809 non-null  float64
 7   precip_med      522809 non-null  float64
 8   pressao_med     522809 non-null  float64
 9   umid_med        522809 non-null  float64
dtypes: float64(4), int64(3), object(3)
memory usage: 39.9+ MB

In [4]:
df.head()

,uf,geocodigo,nome_municipio,dt_notific,se_notif,ano_notif,temp_med,precip_med,pressao_med,umid_med
0,Santa Catarina,4209102,Joinville,2023-04-30,18,2023,20.466202,0.035414,1.005391,87.35066
1,Santa Catarina,4209102,Joinville,2023-04-30,18,2023,20.466202,0.035414,1.005391,87.35066
2,Santa Catarina,4209102,Joinville,2023-04-30,18,2023,20.466202,0.035414,1.005391,87.35066
3,Santa Catarina,4209102,Joinville,2023-04-30,18,2023,20.466202,0.035414,1.005391,87.35066
4,Santa Catarina,4209102,Joinville,2023-04-30,18,2023,20.466202,0.035414,1.005391,87.35066

In [5]:
list(df.columns)

['uf',
 'geocodigo',
 'nome_municipio',
 'dt_notific',
 'se_notif',
 'ano_notif',
 'temp_med',
 'precip_med',
 'pressao_med',
 'umid_med']

In [6]:
cols = ['uf', 'geocodigo', 'nome_municipio', 'dt_notific', 'ano_notif', 'se_notif']

df_cases = df[cols] \
         .groupby(cols)['nome_municipio'] \
         .count() \
         .reset_index(name='casos_notif') \
         .sort_values(['casos_notif'], ascending=False)

In [7]:
df_cases

,uf,geocodigo,nome_municipio,dt_notific,ano_notif,se_notif,casos_notif
31313,Santa Catarina,4209102,Joinville,2023-04-24,2023,17,1322
31299,Santa Catarina,4209102,Joinville,2023-04-10,2023,15,1215
31322,Santa Catarina,4209102,Joinville,2023-05-03,2023,18,1181
31300,Santa Catarina,4209102,Joinville,2023-04-11,2023,15,1150
31327,Santa Catarina,4209102,Joinville,2023-05-08,2023,19,1126
...,...,...,...,...,...,...,...
22623,Santa Catarina,4207502,Indaial,2020-04-07,2020,15,1
22622,Santa Catarina,4207502,Indaial,2020-03-23,2020,13,1
22620,Santa Catarina,4207502,Indaial,2020-03-17,2020,12,1
22619,Santa Catarina,4207502,Indaial,2020-03-15,2020,12,1
49123,Santa Catarina,4220000,Balneário Rincão,2023-06-28,2023,26,1

In [8]:
print("Total municípios:", len(df_cases.geocodigo.unique()))
print("Casos notif:", df_cases["casos_notif"].sum())
print()
print(df_cases.geocodigo.unique())

Total municípios: 274
Casos notif: 522809

[4209102 4205407 4216602 4202404 4202008 4204202 4211900 4208203 4204301
 4210506 4202909 4212106 4202305 4212908 4211306 4219507 4204400 4206405
 4217501 4211009 4207650 4200101 4203204 4216206 4208302 4217204 4201307
 4208005 4216701 4213500 4203105 4212502 4215208 4205803 4217154 4202156
 4202107 4218004 4204103 4202453 4217303 4204707 4212809 4207700 4202057
 4208906 4215703 4201703 4219705 4208450 4208401 4204905 4216305 4205357
 4212601 4215687 4216008 4203501 4214201 4206306 4213906 4207759 4206504
 4202800 4217550 4206009 4215695 4218855 4201208 4218707 4207502 4217956
 4211405 4206652 4217006 4215554 4219606 4216255 4217709 4200507 4218756
 4204756 4217402 4211454 4213153 4215075 4205001 4202537 4213104 4205704
 4211504 4208955 4206603 4205902 4200556 4203303 4217253 4213203 4214805
 4215109 4207304 4215406 4207106 4216107 4203709 4212007 4200754 4202099
 4204608 4210902 4200804 4200606 4210100 4214151 4212239 4212304 4210605
 4207684 4205431 4213609 4215802 4216909 4218202 4204350 4211207 4205175
 4201406 4203956 4209300 4207601 4209409 4206900 4207007 4201273 4215505
 4201257 4218301 4209003 4202701 4213401 4204251 4204806 4204509 4205506
 4202578 4219176 4219150 4219309 4219002 4210407 4217907 4209854 4212205
 4210001 4209904 4201950 4201901 4218608 4202073 4207858 4203808 4215356
 4206702 4211108 4215000 4215901 4215752 4216354 4210035 4212254 4211256
 4211876 4211850 4211702 4214706 4214607 4214508 4207908 4207809 4205456
 4205605 4214003 4206207 4208500 4208609 4212650 4219358 4203006 4218350
 4200200 4204004 4219853 4201604 4201653 4217758 4203600 4202206 4219200
 4219101 4217808 4213708 4208104 4213807 4209508 4209458 4212270 4201505
 4203907 4209201 4208807 4208708 4202081 4212700 4218400 4218509 4218103
 4217105 4206108 4200903 4200408 4211652 4211751 4204459 4200705 4204558
 4211603 4215604 4215307 4206801 4207403 4210209 4214904 4207205 4216404
 4200309 4205308 4210555 4220000 4212403 4219408 4211801 4218806 4218905
 4215653 4215679 4215455 4215059 4216503 4216057 4216800 4213005 4213351
 4214102 4217600 4204194 4203402 4205209 4205191 4205100 4205159 4201802
 4202131 4201109 4202503 4202602 4202438 4202859 4210803 4209151 4209177
 4210308 4209607 4210050 4206751]

In [9]:
# Select the columns you want to group by and calculate the mean for climate variables
wu = ['se_notif', 'ano_notif', 'geocodigo']
df_wu = df.groupby(wu)[['temp_med', 'umid_med']].mean() \
            .reset_index() \
            .sort_values(['ano_notif', 'se_notif'], ascending=[False, False])

In [10]:
df_wu.sort_values(['ano_notif', 'se_notif'], ascending=[False, False])

       se_notif  ano_notif  geocodigo   temp_med   umid_med
15834        33       2023    4200606  19.297176  84.584016
15835        33       2023    4201257  19.904106  82.034000
15836        33       2023    4201307  19.094256  87.402260
15837        33       2023    4202008  16.144434  80.873799
15838        33       2023    4202057  18.981406  91.471262
...         ...        ...        ...        ...        ...
1             1       2010    4205407  25.724470  84.835140
2             1       2010    4208203  25.072872  82.722810
3             1       2010    4209102  25.964615  85.863235
4             1       2010    4209300  20.545506  93.905365
5             1       2010    4216602  24.523380  87.762150

[20124 rows x 5 columns]

In [17]:
frames = [df_cases[['geocodigo', 'nome_municipio', 'ano_notif', 'se_notif', 'casos_notif']], \
          df_wu[['temp_med', 'umid_med']]]

df_grouped = pd.concat(frames, axis=1, join="inner") \
                .sort_values(['ano_notif', 'se_notif'], ascending=[False, False])

In [18]:
df_grouped

,geocodigo,nome_municipio,ano_notif,se_notif,casos_notif,temp_med,umid_med
19223,4205407,Florianópolis,2023,33,67,21.030682,70.871896
19220,4205407,Florianópolis,2023,33,37,17.044819,76.147415
19221,4205407,Florianópolis,2023,33,27,19.319038,68.240540
19224,4205407,Florianópolis,2023,33,24,19.663174,78.438934
19222,4205407,Florianópolis,2023,33,18,18.600681,67.018540
...,...,...,...,...,...,...,...
5717,4202404,Blumenau,2010,2,1,19.351070,82.726940
16497,4205407,Florianópolis,2010,1,1,18.729568,88.335130
16498,4205407,Florianópolis,2010,1,1,19.857979,83.802160
5716,4202404,Blumenau,2010,1,1,19.655869,82.776720
5715,4202404,Blumenau,2010,1,1,23.895797,83.249464